<!DOCTYPE html>
<html>
<head>
  <title>Your stocks wallet</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" >
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <style>
    .list-group-item:first-child .row > div:first-child {
      flex-basis: 60%;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Stocks watcher</h1>
    <br><br>
    <h6>your e-mail</h6>
    <h4>{{ wallet_list.user_email }}</h4>
    <br>
    <button class="bi bi-plus-circle" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#insertModal">
      Insert stock
    </button>
    <br>
    <div class="list-group">
      {% if wallet_list.stocks %}
        <div class="list-group-item">
          <div class="row fw-bold">
            <div class="col">Ticker</div>
            <div class="col">Created at</div>
            <div class="col">Del</div>
          </div>
        </div>
        {% for stock in wallet_list.stocks %}
        <div class="list-group-item">
          <div class="row">
            <div class="col">{{ stock['ticker'] }}</div>
            <div class="col">{{ stock['inserted_date'].strftime("%Y-%m-%d %H:%M:%S") }}</div>
            <div class="col">
              <form method="POST" action="/delete/{{ stock['ticker'] }}" class="d-inline">
                <button type="submit" class="btn btn-link">
                  <i class="bi bi-trash" style="color: rgb(236, 31, 31);"></i></button>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      {% endif %}
    </div>
    <br>
    <br>
    <p>Number of items: {{ wallet_list.stocks|length }}</p>
    <form method="POST" action="/save" >
      <a href="/" class="btn btn-light"> Add more </a>
      <button type="submit" class="btn btn-success" >
        <i class="bi bi-check-circle-fill"></i> Save </button>
    </form>
  </div>

  <!-- Insert Modal -->
  <div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="insertModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="insertModalLabel">Insert stock ticker</h5>
          <button type="button" class="btn-close btn-close-fill" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST" action="/stock_insert">
          <div class="modal-body">
            <div class="mb-3">
              <label for="stock_ticker" class="form-label">Stock ticker:</label>
              <select class="form-select" id="stock_ticker" name="stock_ticker" required>
                <option value="">Select a stock</option>
                <option value="AAPL">AAPL - Apple Inc.</option>
                <option value="GOOGL">GOOGL - Alphabet Inc.</option>
                <option value="MSFT">MSFT - Microsoft Corporation</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">done</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Include Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
